/* Global */
:root{
  /* Color */
  --color-white: rgb(247,247,247);
  /* + 기호 */
  --color-gray: rgb(198, 197, 196);
  /* 구분선 */
  --color-light-gray: rgb(240, 240, 240);
  /* 탭 메뉴 블랙 */
  --color-light-black: rgb(26,26,26);
  /* 맨위 상단 메뉴 컬러 */
  --color-black: rgb(17,17,17);
  /* 그레이와 블랙의 중간 */
  --color-blackbg: rgb(49,47,52);
  /* 시간 바 옐로 */
  --color-yellow: rgb(233,178,73);
  /* 로그인 컬러 */
  --color-orange: rgb(243,171,81);
  /* 카카오 */
  --color-kakao: rgb(255,220,4);
  --color-navy: #1a237e;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 15px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 300;

  /* Size */
  
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body{
  margin:0;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

/* Typograhpy */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 10px 0;

}

h2{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;

}

p{
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar{
  display: flex;
  background-color: var(--color-black);
  padding: 13px 50px;
  position: fixed;
  z-index: 100;
  width: 100%;
}


.navbar__logo a img{
  width: 150px;
  padding: 10px 0;
}

.navbar__menu a{
  color: var(--color-white);
}

.navbar__menu>li>a{

  font-size: var(--font-regular);
  
}

.navbar__menu{
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  width: 800px;
  height: 30px;
  overflow: hidden;
}

.navbar__menu>li {
  width: 120px;
  padding: 10px 0;
  text-align: center;
}

.navbar_menu_2{ 
  margin-top: 30px;
}


.navbar__menu:hover {
  height: 200px;
  overflow: visible;
}

/* .navbar__menu>.active .navbar_menu_2{
  border-top: 1px solid var(--color-yellow);
} */

.navbar_menu_2 li{
  margin: 10px 0;
  font-size: 14.5px;
}

#navbar button,
#navbar button a{
  color: var(--color-orange); 
  padding: 10px;
  font-size: var(--font-regular);
  align-self: start;
  margin-top: 14px;

}

#navbar button:hover,
#navbar button a:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 10px;
  font-weight: 600 ;
}

.login {
  margin-left: auto;
}

.gamestart{
  width: 150px;
  margin-left: 30px;
}


/* Main */

#main{
  width: 100%;
  height: 1000px;
  
}


.main__pic{
  height: 500px;
}

.pic__back {
  object-fit: cover;
  width: 100%;
  height: 500px;
  opacity: 0.72;
  position: relative;
  top: 97px;
  left: 0;
}

.pic__front{
  display: block;
  position: relative;
  top: -300px;
  left:0;
  margin: 0 auto;
  /* left: 120px; */
  object-fit: cover;
  width: 85%;
  height: 500px;
}

.main__pic button {
  display: block;
  position: relative;
  top: -550px;
  margin: 0 auto;
  border: 1px solid var(--color-black);
  background-color: var(--color-blackbg);
  font-size: var(--font-medium);
  color: var(--color-white);
  font-weight: var(--weight-regular);
  padding: 20px 45px;
  border-radius: 30px;
}


.main__pic button:hover {
  background-color: var(--color-gray);
  color: var(--color-black);
  font-weight: var(--weight-semi-bold);
  border: 2px solid var(--color-black);
  border-radius: 40px;
}

.main__util{
  /*  position: relative;
  top: 260px;
  left: 0px;*/
  
  margin-top: 97px;
  border-top: 200px solid var(--color-gray);
  padding: 20px 45px;
  font-size: var(--font-regular);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-light-gray);
  
}

.main__util a {
  color: var(--color-black);
}

.main__util>ul {
  display: flex;
  justify-content: space-between;
}
.main__util li {
  padding: 10px 20px;
}


/* 지도 */


#map{
  margin-bottom: 150px;
  padding: 30px;
}

#map>div:first-child {
  font-size: var(--font-large);
  font-weight: lighter;
}

.slide__wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  
}

.slides_container{
  width: 960px;
  overflow: hidden;
  /* position:relative;
  left:50%;
  transform: translateX(-50%); */
  
  margin: 30px 0;

  
}

.slides{
  /* width: calc(960*5); */
  display: flex;
  position: relative;
  /* left: -960px; */
  transition: left 0.5s ease;
  
}

.slides li{
  width: 960px;
  height: 500px;
  font-size: var(--font-medium);
}

.slides img{
  width: 960px;
  height: 500px;
  margin-top: 10px;
}

.prev,
.next{
  font-size: var(--font-large);
  color: var(--color-gray);
  padding: 30px;

}

.prev:hover{
  color: var(--color-orange);
  background-color: var(--color-light-gray);
}
.next:hover{
  color: var(--color-orange);
  background-color: var(--color-light-gray);
}

.indicator{
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  margin: 30px 0;
}

.indicator i {
  color: var(--color-blackbg);
  margin: 0 5px;
}

.indicator i.active{
  color:var(--color-orange);
}

.indicator i:hover{
  color:var(--color-orange);
}

/* Play Mode */

#playModes{
  background-color: var(--color-light-gray);
  width: 100%;
  padding: 10px 45px;
}

#playModes img{
  width: 300px;
  height: 280px;
  border-radius: 50%;
  
}

.navigation{
  display: flex;
  flex-direction: column-reverse;
}

.modes{
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
}

.mode>div:last-child {
  width: 300px;
  text-align: center;
  line-height: 1.4;
  margin-top: 10px;
}

.mode:hover img{
  transform: scale(1.1);
}

.mode img{
  transition: all 200ms ease-in;
}

.mode__title{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  text-align: center;
  margin-top: 20px;
}

/* Gun */

#gun{
  padding: 20px 100px;
  margin: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#gun h1{
  font-weight: lighter;
  align-self: start;
  margin-bottom: 50px;
}

#gun select{
  width: 150px;
  padding: .8em .5em;
  border: 1px solid var(--color-black);
  font-size: var(--font-regular);
  margin: 10px;
}

#gun_btn{
  width: 70px;
  background-color: var(--color-light-gray);
  padding: 20px;
  border-radius: 10px;
  margin: 0 5px;
  font-size: 16px;
}

#gun_btn:hover{ 
  font-weight: var(--weight-semi-bold);
}

.gun__categories{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;

}

.gun__page{
  width: 80%;
  height: 118px;
  overflow: hidden;
}

.gun__page>.selected{
  display: block;
}

.gun__btns{
  display: none;
}

.gun__btns button{
  width: 160px;
  height: 47px;
  font-size: var(--font-small);
  background-color: var(--color-gray);
  margin: 6px;
  padding: 15px 35px;
  border-radius: 12px;
}


.gun__btns button.active,
.gun__btns button:hover{
  background-color: var(--color-blackbg);
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}

/* GUN DESCRIPTION */
.gun__container{
  display: none;
}

.gun__description{
  display: flex;
  height:500px;
  margin: 20px;
}

.description__left{
  border-radius: 30px 0 0 30px;
  background-color: var(--color-orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 30%;
}

.description__left>div{
  margin-bottom: auto;
}

.gun__description img{
  max-width: 100%;
}

.description__right{
  border-radius: 0 30px 30px 0;
  background-color: var(--color-light-gray);
  padding: 60px 100px;
  width: 70%;
}

.description__right h2{
  font-weight: var(--weight-semi-bold);
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}

.spec__bar{
  width: 100%;
  background-color: var(--color-black);
}

.spec__value{
  height: 5px;
  background-color: var(--color-orange);
}

.spec{
  margin-bottom: 30px;
}

.spec_description{
  display: flex;
  justify-content: space-between;
}

.spec_description>span:first-child {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

/* Footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blackbg);
  padding: 30px 80px;
  margin-top: 70px;
  
}

footer h1,
footer a,
footer p{
  color: var(--color-white);
}

footer a{
  text-decoration: underline;
}

footer a:hover{
  color:red;
}

footer li {
  line-height: 1.4;
}

/* 서브페이지 */
.sub__login{
  width: 100%;
  height: 600px;
}

.sub__login>div{
  width: 50%;
  height: 80%;
  background-color: var(--color-light-gray);
  margin: auto;
  padding: 20px;
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  
}

input,
.sub__login button{
  width: 65%;
  height: 50px;
  font-size: 16px;
  margin: 5px auto;
  outline: none;
  border: 1px solid var(--color-gray);
}

input:last-child{
  background-color: var(--color-blackbg);
  color:var(--color-white)
}

input:last-child:hover{
  font-weight: var(--weight-semi-bold);
}