/* Global */
:root{
  /* Color */
  --color-white: #ffffff;
  --color-ligth-grey: #7c7979;
  --color-black: #000000;
  --color-yellow: #ffee38;
  --color-orange: #feb546;
  --color-navy: #1a237e;

  /* Font size */
  --font-large: 48px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body{
  margin:0;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

/* Typograhpy */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 10px 0;

}


h2{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;

}

p{
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar{
  display: flex;
  background-color: var(--color-black);
  align-items: center;
  padding: 13px 40px;
  position: fixed;
  z-index: 100;
  width: 100%;

  
}

#navbar a{
  color: var(--color-white);
  font-size: var(--font-medium);

}


.navbar__menu{
  display: flex;
  margin-left: 30px;
}

.navbar__menu>li {
  padding:10px 20px;
}

.navbar_menu_2{
  display: none;
}

.navbar__btn{
  margin-left: auto;
}

.navbar__btn button{
  font-size: var(--font-regular);
  color: var(--color-white);
  padding: 10px;
  border: 1px yellow solid;

}

/* Main */

#main{
  width: 100%;
  height: 1000px;
  
}

.main__pic{
  height: 500px;
}

.pic__back {
  object-fit: cover;
  width: 100%;
  height: 500px;
  opacity: 0.5;
  position: relative;
  top: 97px;
  left: 0;
}

.pic__front{
  position: relative;
  top: -300px;
  left: 185px;
  object-fit: cover;
  width: 85%;
  height: 500px;
}

.main__pic button {
  display: block;
  position: relative;
  top: -550px;
  left: 920px;
  border: 1px solid var(--color-white);
  background-color: var(--color-ligth-grey);
  font-size: var(--font-large);
  color: var(--color-white);
  font-weight: lighter;
  padding: 20px 45px;
  border-radius: 10px;
}


.main__pic button:hover {
  background-color: var(--color-navy);
}

.main__util{
  position: relative;
  top: 260px;
  left: 0px;
  background-color: rgb(107,107,107,0.5);
  padding: 20px 45px;
  font-size: var(--font-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__util a {
  color: var(--color-black);
}

.main__util>ul {
  display: flex;
  justify-content: space-between;
}
.main__util li {
  padding: 10px 20px;
}

/* map */
#map{
  border: 1px solid red;
}

